<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site patch:before="site[@name='website']" 
        name="statuspage" 
        hostName="page.status.v3"
        virtualFolder="/" 
        physicalFolder="/" 
        rootPath="/sitecore/content/operations suite/sites" 
        startItem="/status dashboard" 
        
        database="web" 
        domain="extranet" 
        allowDebug="true" 
        enableTracking="true" 
        cacheHtml="true" 
        htmlCacheSize="50MB" 
        registryCacheSize="0" 
        viewStateCacheSize="0" 
        xslCacheSize="25MB" 
        filteredItemsCacheSize="10MB" 
        enablePreview="true" 
        enableWebEdit="true" 
        enableDebugger="true" 
        disableClientData="false" 
        cacheRenderingParameters="true" 
        renderingParametersCacheSize="10MB" />
    </sites>
    
    <settings>
      
      <setting name="OpsSuite.StatusPage.Maintenances" value="5" />
      
    </settings>
    
  </sitecore>
</configuration>