@using Sitecore.Mvc

@{
  Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<span>Last updated at: @DateTime.Now.ToLocalTime()</span>
<br /><br />

@*{ Html.RenderAction("Legend", "Priority"); } *@

@Html.Sitecore().Placeholder("scmmain")

